 body {
      font-family: Vazir, Arial, sans-serif;
      background: #efe1e1;
      color: #333;
      line-height: 1.6;
      direction: rtl;
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
    header {
      background: #4e5053;
      color: white;
      text-align: center;
      /* padding: 2rem 1rem; */
    }
    header h1 {
      margin: 0;
      font-size: 2rem;
    }
   .item{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
   }
   .item li{
    margin: 1rem;
   }
    .container {
      max-width: 800px;
      margin: auto;
      padding: 2rem;
    }
    section {
      margin-bottom: 2rem;
    }
    h2 {
      border-bottom: 2px solid #05203f;
      display: inline-block;
      padding-bottom: 0.3rem;
      margin-bottom: 1rem;
      color: #05203f;
    }
    ul {
      list-style-type: square;
      padding-right: 1.2rem;
    }
    footer {
      background: #333;
      color: white;
      text-align: center;
      /* padding: 1rem; */
      margin-top: 2rem;
    }
    .item a {
      color: #fdffff;
      text-decoration: none;
    }
    a{
      color: #4a90e2;
      text-decoration: none;

    }
    a :visited{
      color: #4a90e2;

    }
    a:hover {
      text-decoration: underline;
      background-color: rgb(34, 34, 33);
    }
@media (max-width: 620px) {
  .item li{
    width: 100%;
    display: block;
    
  }


  }